<app-notificationdashboard></app-notificationdashboard>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand">User Management System</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="home">Home</a>
    </li>
    <!-- working with named router outlet -->
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/about',{
        outlets:{
          'map':['location'],
          'feeds':['feedback']
        }
      }]">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="users">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="contact">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="resolve">Resolve</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="products">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="observable">Observable</a>
    </li>
  </ul>
</nav>